<div ng-controller="MyTicketUserController as ctrl">
    <div class="col-md-9">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Tickets List    
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body data-holder">
                    <div class="row top-bar">
                           <div class="col-md-12 top-bar-wrapper">
                               <div class="row">
                                   <div class="col-md-5">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Search .." aria-describedby="basic-addon1" ng-model="searchText">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 col-md-offset-4">
                                        
                                        <select style="" ng-model="orderList" ng-init="orderList='createdAt'" class="form-control">
                                            <option value="-ticketPriority">Priority</option>
                                            <option value="-createdAt">Newest</option>
                                            <option value="createdAt" >None</option>
                                        </select>
                                    </div>
                               </div>
                           </div>
                           
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped ">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Location</th>
                                <th>Ticket Type</th>
                                <th>Reply By Date</th>
                                <th>Priority</th>
                                <th>Details</th>
                                <th>Status</th>
                                
                            </tr>
                            <tr ng-repeat="ticket  in ctrl.tickets | filter:searchText||orderBy:orderList| offset: (currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
                                <td>{{ctrl.tickets.indexOf(ticket) + 1}}</td>
                                <td>{{ticket.firstName +' '+ticket.lastName}}</td>
                                <td>{{ticket.designation.short_name}}</td>
                                <td>{{ticket.location.name}}</td>
                                <td>
                                    <span ng-if="ticket.ticketType=='transactionalType'">Transactional</span>
                                    <span ng-if="ticket.ticketType=='litigationalType'">Litigational</span>
                                    <span ng-if="ticket.ticketType=='othersType'">Other</span>
                                </td>
                                <td>
                                    {{ticket.replyByDate | amDateFormat:'DD/MM/YYYY'}}
                                </td>
                                <td>
                                     <span ng-if="ticket.ticketPriority=='0'">Low</span>
                                    <span ng-if="ticket.ticketPriority=='1'">Medium</span>
                                    <span ng-if="ticket.ticketPriority=='2'">High</span>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" ui-sref="dashboard.myTicketDetails({id : ticket._id})">Details</a>
                                </td>
                                <td>
                                    <button ng-if="ticket.isPicked==false"class="btn btn-warning btn-sm" ng-click="ctrl.pickTicket(ticket._id)">Pick</button>
                                    <button ng-if="ticket.isPicked==true" class="btn btn-default btn-sm" disabled>Picked</button>
                                </td>
                                
                            </tr>

                        </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->

                    <div class="row">
                        <div class="col-md-8 pagination-holder">
                            <ul uib-pagination  total-items="ctrl.tickets.length" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>