<div ng-controller="MyTicketUserController as ctrl">
     <div class="col-md-8">
        	
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Ticket Detail    
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body ticket-detail-panel">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card card-block">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4>{{firstName +' '+lastName}}</h4>
                                        <p>{{designation.designation }} , {{location.name }} {{location.division}} 
                                            <br>
                                            Email : {{ email}}
                                            <br>
                                            Type : <span ng-if="ticketType=='transactionalType'">Transactional</span>
                                                      <span ng-if="ticketType=='litigationalType'">Litigational</span>
                                                      <span ng-if="ticketType=='othersType'">Other</span>
                                            
                                            
                                        </p>

                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-sm btn-block" ng-click="ctrl.openComanager('body',_id)" ng-disabled="ticketStatus=='closed'">Add Co-Manager</button>
                                        <br>
                                        <button class="btn btn-sm btn-danger btn-block" ng-click="ctrl.closeTicketModal('body',_id)" ng-disabled="ticketStatus=='closed'">{{(ticketStatus=='closed')?'Ticket Closed':'Close Ticket'}}</button>
                                        <br>
                                        <button class="btn btn-sm btn-warning btn-block" ng-click="ctrl.openEditModal('body',_id)" ng-disabled="ticketStatus=='closed'">Complete Ticket</button>
                                        <br>
                                        <button class="btn btn-sm btn-primary" >Update Next Date</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div ng-if="ticketType=='transactionalType'">
                                            <h5>Transactional Details </h5>
                                            <p>
                                                New or Existing : {{transactionalDetails.newOrExisting}}
                                                <br>
                                                Type : {{transactionalDetails.type}}
                                                <br>
                                                Document Type : {{(transactionalDetails.documentType)?transactionalDetails.documentType.legalType:'None'}}
                                                <br>
                                                Final Date : {{transactionalDetails.finalDate }}
                                                <br>
                                                Notes : {{ticketNotes}}

                                            </p>
                                            <hr>
                                            <h5>Additional Details</h5>
                                            <p ng-repeat="obj in transactionalDetails.additionalDetails">
                                                <span ng-show="!(obj.fieldValue.length == 0)">{{obj.fieldName}} : {{obj.fieldValue}}</span>
                                            </p>
                                        </div>

                                        <div ng-if="ticketType=='litigationalType'">
                                            <h5>Litigational Details </h5>
                                            <p>
                                               Notice Received (Y/N ) : {{litigationalDetails.noticedReceived}}
                                               <br>
                                               Notice From : {{litigationalDetails.noticeFrom}}
                                               <br>
                                               Notice Against : {{litigationalDetails.noticeAgainst}}
                                               <br>
                                               Opposing Lawyer : {{litigationalDetails.opposingLawyer}}
                                               <br>
                                               Counsel Appointed (Y/N) : {{litigationalDetails.counselAppointed}}
                                               <br>
                                               Amount : INR {{litigationalDetails.amount}}
                                               <br>
                                               Notes : {{ticketNotes}}
                                            </p>
                                        </div>
                                        <div ng-if="ticketType=='othersType'">
                                            <h5>Others Details </h5>
                                            <p>
                                                Notes : {{ticketNotes}}
                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Co-Managers</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                               
                                            </tr>
                                            <tr ng-if="ticketCo_Owners.length!=0" ng-repeat="co in ticketCo_Owners">
                                                <td>{{ticketCo_Owners.indexOf(co) + 1}}</td>
                                                <td>{{co.firstName+' '+co.lastName}}</td>
                                                <td>{{co.email}}</td>
                                                
                                            </tr>
                                            <tr ng-if="ticketCo_Owners.length==0">
                                                <td colspan="4" style="text-align:center">No Co-Managers</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Attachments</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Document</th>
                                                <th>Approve</th>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length!=0" ng-repeat="document in attachedDocuments">
                                                <td>{{attachedDocuments.indexOf(document) + 1}}</td>
                                                <td><a href="{{document.documentUrl}}" target="_blank">{{document.documentName}}</a></td>
                                                <td><button class="btn btn-sm btn-primary" ng-click="ctrl.open('body' , document._id)" ng-disabled="document.approved">{{document.approved ? 'Approved' : 'Approve'}}</button></td>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length==0">
                                                <td colspan="3" style="text-align:center">No Documents Attached</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Tasks</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Task Name</th>
                                                <th>Handler Email</th>
                                                <th>Details</th>
                                            </tr>
                                            <tr ng-if="task_list.length!=0" ng-repeat="tsk in task_list">
                                                <td>{{task_list.indexOf(tsk) + 1}}</td>
                                                <td>{{tsk.taskName}}</td>
                                                <td>{{tsk.taskHandlerEmail}}</td>
                                                <td><a class="btn btn-sm btn-primary" ui-sref="task-detail({id : tsk._id})">Detail</a></td>
                                            </tr>
                                            <tr ng-if="task_list.length==0">
                                                <td colspan="4" style="text-align:center">No Task Created</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                                
                                
                            </div>
                        </div> 
                    </div>
                    <!-- /.panel-body -->
                </div>




            </div>

            <div class="panel panel-success">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Messages
                    <div class="btn-group pull-right">
                        
                    </div>
                </div>
            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body chat-panel">
                    <ul class="chat">
                       
                        <li ng-class="$root.user.sessionId ==msg.senderId._id?'right clearfix' : 'left clearfix'" ng-repeat="msg in messages">
                            <span ng-class="$root.user.sessionId ==msg.senderId._id?'chat-img pull-right':'chat-img pull-left'" >
                                <img ng-if="$root.user.sessionId ==msg.senderId._id" src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                <img ng-if="$root.user.sessionId !=msg.senderId._id" src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <span ng-if="$root.user.sessionId ==msg.senderId._id">

                                    </span>
                                    <span ng-if"$root.user.sessionId !=msg.senderId._id">
                                        
                                    </span>
                                    <small ng-class="$root.user.sessionId ==msg.senderId._id?'text-muted' : 'pull-right text-muted'" ><span class="glyphicon glyphicon-time"></span>{{msg.createdAt | amTimeAgo}}</small>
                                    <strong ng-class="$root.user.sessionId ==msg.senderId._id? 'pull-right primary-font':'pull-left primary-font'" ng-bind="msg.senderId.firstName"></strong>
                                </div>
                                <p ng-bind="msg.message">
                                   
                                </p>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="ctrl.message" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-disabled="ticketStatus=='closed'"   ng-click="ctrl.sendMessage(messageThread)">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </div>


    </div>

    <!--Task Creation Form-->
    <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Create Task
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                    		<form class="form" name="taskForm" ng-submit="ctrl.createTask()">
                                <input type="hidden" ng-model="ctrl.task._id">
                    			<div class="form-group">
                    				<label>Task Name <span class="mand_field">*</span></label>
                    				<input type="text" name="name" class="form-control" ng-model="ctrl.task.name" required>
                    			</div>

                    			<div class="form-group">
                    				<label>Task Type <span class="mand_field">*</span></label>
                    				<select name="type" class="form-control" ng-model="ctrl.task.type" required>
                                        <option value="Document">Document</option>
                                        <option value="Opinion">Opinion</option>
                                        <option value="Data request">Data Request</option>
                                        <option value="Others">Others</option>
                                    </select>
                    			</div>
                                <div class="form-group">
                    				<label>Task Completion Date <span class="mand_field">*</span></label>
                    				<input type="text" class="form-control" 
                                        name="completionDate" uib-datepicker-popup="dd/MM/yyyy"  min-date="minDate" max-date="Date(replyByDate)"
                                        ng-model="ctrl.task.completionDate" is-open="completionDate_popup.opened"  close-text="Close"  />
                    			</div>
                                <div class="form-group">
                    				<label>Task Handling Location <span class="mand_field">*</span></label>
                    				<select name="handlingLocation" class="form-control" ng-model="ctrl.task.handlingLocation" required>
                                        <option value="Local">Local</option>
                                        <option value="Corporate">Corporate</option>
                                    </select>
                    			</div>
                                <div class="form-group">
                    				<label>Task Handler Name <span class="mand_field">*</span></label>
                    				<input type="text" name="handlerName" class="form-control" ng-model="ctrl.task.handlerName" required>
                    			</div>
                                <div class="form-group">
                    				<label>Task Handler Email <span class="mand_field">*</span></label>
                    				<input type="text" name="handlerEmail" class="form-control" ng-model="ctrl.task.handlerEmail" required>
                    			</div>
                                <div class="form-group">
                    				<label>Task Handler Location <span class="mand_field">*</span></label>
                    				<locations name="handlerLocation" class="form-control" ng-model="ctrl.task.handlerLocation"></locations>
                    			</div>
                                <div class="form-group">
                    				<label>Handler Contact Number</label>
                    				<input type="text" name="contactNumber" class="form-control" ng-model="ctrl.task.handlerNo" required>
                    			</div>
                                <div class="form-group">
                    				<label>Task Privacy</label>
                    				<select type="text" name="privacy" class="form-control" ng-model="ctrl.task.taskPrivacy" required>
                                        <option value="Closed">Closed</option>
                                        <option value="Open">Open</option>
                                    </select>
                    			</div>

                    			<hr>
                    			<input class="btn btn-block btn-primary" type="submit" ng-disabled="taskForm.$invalid || ticketStatus=='closed'" value="Create Task"/>

                    		</form>	        
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>

<script type="text/ng-template" id="closingTicket.html">

        <div class="modal-header">
            <h3 class="modal-title" id="CM-modal-title">Ticket Closing Note</h3>
        </div>
        <div class="modal-body" id="CM-modal-body">
          <form class="form" name="ticketClosing">
              <div class="row">
                <div class="col-md-12" >
                  <div class="form-group">
                    <label >Closing Note</label>
                    <textarea class="form-control" ng-model="closeCtrl.closingNote" style="resize:none" required></textarea>
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-click="closeCtrl.submit(closeCtrl.closingNote)" ng-disabled="ticketClosing.$invalid">Submit</button>

              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="closeCtrl.cancel()" >Cancel</button>
              </div>
            </div>
        </div>

</script>





     <script type="text/ng-template" id="coManagerTemplate.html">

        <div class="modal-header">
            <h3 class="modal-title" id="CM-modal-title">Document Template</h3>
        </div>
        <div class="modal-body" id="CM-modal-body">
          <form class="form">
              <div class="row">
                <div class="col-md-6" >
                  <div class="form-group">
                    <label >Co-Manager</label>
                    <comanagers ng-model="ctrl2.data.comanager"  name="comanager" ticket-id="{{_id}}"></comanagers>
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-click="ctrl2.submit()" >Submit</button>

              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="ctrl2.cancel()" >Cancel</button>
              </div>
            </div>
        </div>

</script>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Document Template</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <form class="form" name="approvalForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Document Type</label>
                    <documents ng-model="ctrl3.document.documentType" ng-change="render(ctrl3.document.documentType)"></documents>
                    <!--<approved ng-model="ctrl3.document" ></approved>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" ng-repeat="field in ctrl3.document.documentType.fields">
                  <div class="form-group"  ng-show="field.fieldType=='text'">
                    <label >{{field.fieldName}}</label>
                    <input  type="field.fieldType" class="form-control" ng-model="ctrl3.document.docAdditionalDetail[$index].fieldValue" ng-required="field.fieldType=='text'">
                  </div>


                  <div class="form-group"  ng-show="field.fieldType=='date'">
                    <label >{{field.fieldName}}</label>
                    <datepicker  date-format="longDate">
                            <input class="form-control" ng-model="ctrl3.document.docAdditionalDetail[$index].fieldValue" ng-required="field.fieldType=='date'"/>
                        </datepicker>
                  </div>


                  <div class="form-group"  ng-show="field.fieldType=='number'">
                    <label >{{field.fieldName}}</label>
                    <input  type="field.fieldType" class="form-control" only-digit ng-model="ctrl3.document.docAdditionalDetail[$index].fieldValue" ng-required="field.fieldType=='number'">
                  </div>
                   
                </div>
              </div>

              <hr/>
              <h5>Document Approval</h5>
                  <div ng-show="approvedDoc.length == 0"> No Approval </div>
              <div class="row">
                  

                  <div class="col-md-6" ng-repeat="designation in approvedDoc">

                      <label>{{designation.designation.designation}} </label>
                      <desuser des="designation.designation" ng-model="ctrl3.document.approvedBy[$index]" required></desuser>
                  </div>
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-disabled="approvalForm.$invalid" ng-click="ctrl3.submit(ctrl3.document)">Submit</button>
            
              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="ctrl3.cancel()">Cancel</button>
              </div>
            </div>
        </div>


    </script>





    <!-- Template for edit Ticket -->

    <script type="text/ng-template" id="editTicket.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Complete Ticket</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <!-- Modal Body Here -->
                <form class="ticket_form" name="ticketForm">
                   
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">First Name <span class="mand_field">*</span> </label>
                        <input type="text" name="firstName" class="form-control" ng-model="editCtrl.ticket.firstName" required>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Last Name </label>
                        <input type="text" name="lastName" class="form-control" ng-model="editCtrl.ticket.lastName">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Email <span class="mand_field">*</span></label>
                        <input type="text" name="email" class="form-control" ng-model="editCtrl.ticket.email" required> 
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Location <span class="mand_field">*</span></label>
                        <locations ng-model="editCtrl.ticket.location" name="location" required></locations>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Designation <span class="mand_field">*</span></label>
                        <designations ng-model="editCtrl.ticket.designation"  name="designation" required></designations>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Ticket Priority <span class="mand_field">*</span></label>
                        
                         <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="2" ng-model="editCtrl.ticket.ticketPriority" required>High
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="1" ng-model="editCtrl.ticket.ticketPriority" required>Medium
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="0" ng-model="editCtrl.ticket.ticketPriority" required>Low
                        </label>
                         </div>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                        <label for="email">Notes For Ticket </label>
                        <textarea class="form-control" name="ticketNotes" ng-model="editCtrl.ticket.ticketNotes"></textarea>
                      </div>
                     </div>
                   </div>
                   
                   

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Ticket Type <span class="mand_field">*</span></label>
                        <select ng-model="editCtrl.ticket.ticketType" class="form-control" required>
                            <option value="transactionalType">Transactional</option>
                            <option value="litigationalType">Litigational</option>
                            <option value="othersType">Others</option>
                        </select>
                         
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Reply By Date</label>

                        <datepicker  date-format="longDate">
                            <input class="form-control" ng-model="editCtrl.ticket.replyByDate" type="text"/>
                        </datepicker>
                        
                      </div>
                     </div>

                   </div>
                   <!-- Start litigation-->
                   <div id="litigationalType" class="type_module" ng-show="editCtrl.ticket.ticketType == 'litigationalType'" >

                     <div class="row">
                       <div class="col-md-6">
                         <div class="form-group">
                        <label for="email">Type :</label>
                        <select class="form-control" ng-model="editCtrl.ticket.litigationalDetails.litigationType">
                          <option value="medico_legal">Medico Legal</option>
                          <option value="non_medico_legal">Non-Medico Legal</option>
                          <option value="tax_related">Tax Related</option>
                        </select>
                      </div>
                       </div>
                       <div class="col-md-6" ng-show="editCtrl.ticket.litigationalDetails.litigationType=='non_medico_legal'">
                         <div class="form-group">
                        <label for="email">Non-Medico Legal Type:</label>
                        <select class="form-control" ng-model="editCtrl.ticket.litigationalDetails.litigationNonMedicoType" >
                          <option value="contracts_related">Contracts related</option>
                          <option value="statutory_compliance">Statutory Compliance</option>
                          <option value="land_matters">Land Matters</option>
                          <option value="labour_related">Labour Related</option>
                          <option value="pharmacy_licenses">Pharmacy Licenses</option>  
                        </select>
                      </div>
                       </div>


                     </div>


                     <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                         <label for="email">Notice Received</label>
                        
                         <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" value="Y" name="noticeReceived" ng-model="editCtrl.ticket.litigationalDetails.noticedReceived">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="N" name="noticeReceived" ng-model="editCtrl.ticket.litigationalDetails.noticedReceived">No
                        </label>
                        
                         </div>
                      </div>
                     </div>

                     

                   </div>


                   
                   
                   <div ng-show="editCtrl.ticket.litigationalDetails.noticedReceived=='Y'">


                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notice from</label>
                        <input type="text" class="form-control"name="noticeFrom" ng-model="editCtrl.ticket.litigationalDetails.noticeFrom">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notice against</label>
                        <input type="text" class="form-control" name="noticeagainst" ng-model="editCtrl.ticket.litigationalDetails.noticeAgainst">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Opposing Lawyer</label>
                        <input type="text" class="form-control" name="oppLawyer" ng-model="editCtrl.ticket.litigationalDetails.opposingLawyer">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Contact Address</label>
                        <input type="text" class="form-control" name="contactAddress" ng-model="editCtrl.ticket.litigationalDetails.contactAddress">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Contact email</label>
                        <input type="email" class="form-control" name="contactemail" ng-model="editCtrl.ticket.litigationalDetails.contactEmail">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Court / Forum</label>
                        <input class="form-control" type="text" ng-model="editCtrl.ticket.litigationalDetails.court" name="courtForum" />
                         
                      </div>
                     </div>

                   </div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel appointed </label>
                        <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" value="Y" name="counselAppointed" ng-model="editCtrl.ticket.litigationalDetails.counselAppointed">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="N" name="counselAppointed" ng-model="editCtrl.ticket.litigationalDetails.counselAppointed">No
                        </label>
                        
                         </div>
                      </div>
                     </div>



                     <div class="col-md-6" ng-show="editCtrl.ticket.litigationalDetails.counselAppointed=='Y'">
                       <div class="form-group">
                        <label for="email">Counsel Address </label>
                        <textarea class="form-control name="counselAddress"" ng-model="editCtrl.ticket.litigationalDetails.counselAddress"></textarea>
                      </div>
                     </div>

                   </div>

                   <div class="row" ng-show="editCtrl.ticket.litigationalDetails.counselAppointed=='Y'">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel phone number</label>
                        <input type="text" class="form-control" name="counselPhone" ng-model="editCtrl.ticket.litigationalDetails.counselPhone">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel email</label>
                        <input type="email" class="form-control" name="counselEmail" ng-model="editCtrl.ticket.litigationalDetails.counselEmail">
                      </div>
                     </div>

                   </div>



                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Location of court</label>
                        <input type="text" class="form-control" name="courtLocation" ng-model="editCtrl.ticket.litigationalDetails.courtLocation">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Amount under litigation</label>
                        <input type="text" class="form-control" name="amount" ng-model="editCtrl.ticket.litigationalDetails.amount">
                      </div>
                     </div>

                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="well">
                         * Amount Under Litigation should be in INR
                       </div>
                     </div>
                   </div>
                   </div>
                   <!-- end litigation-->


                   <!-- Start Transactional-->

                   <div id="transactionalType" class="type_module" ng-show="editCtrl.ticket.ticketType == 'transactionalType'">

                    <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Type</label>

                        <select ng-model="editCtrl.ticket.transactionalDetails.type" class="form-control">
                          <option  value="opinion">Opinion</option>
                          <option value="renegotiation">Renegotiation</option>
                          <option value="template">Template</option>
                        </select>
                        
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Final Date </label>

                          <datepicker  date-format="longDate">
                            <input class="form-control" ng-model="editCtrl.ticket.transactionalDetails.finalDate" type="text"/>
                        </datepicker>


                        
                      </div>
                     </div>

                     

                     

                   </div>

                   <div class="row">
                    

                     

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">New / Existing</label>
                        <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" name="newExist" ng-model="editCtrl.ticket.transactionalDetails.newOrExisting" value="new">New
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="newExist"  ng-model="editCtrl.ticket.transactionalDetails.newOrExisting" value="existing">Existing
                        </label>
                        
                         </div>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Additional details</label>
                        <documents ng-model="editCtrl.ticket.transactionalDetails.documentType" ng-change="ctrl.open('body' ,ctrl.ticket.transactionDocumentType)"></documents>
                        
                      </div>
                     </div>


                   </div>

                   

                   </div>

                   <!--end Transactional-->

                   <!-- Start others-->

                   <div id="othersType" class="type_module" ng-show="editCtrl.ticket.ticketType == 'othersType'">
                     <div class="row">
                       <!--
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notes</label>
                        <input type="text" name="otherNotes" class="form-control" ng-model="ctrl.ticket.othersNotes">
                      </div>
                     </div>-->

                     

                   </div>
                   </div>

                   <!--End Others-->
                   
                   </form>
            <!-- Modal Body Ends -->
        </div>
        <div class="modal-footer">
          <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-click="editCtrl.submit(editCtrl.ticket)" ng-disabled="ticketForm.$invalid">Submit</button>

              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="editCtrl.cancel()" >Cancel</button>
              </div>
            </div>
        </div>
    </script>
</div>