<div ng-controller="DocumentSearchController as ctrl">


<div class="col-md-8" >
	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Document Search 

                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <div class="row">
                               
                                <div class="col-md-12">
                                    <div ng-if="documents.length == 0">
                                        <p>No Document Found</p>
                                    </div>
                                    <div ng-if="documents.length!=0" ng-class="($index%2==0)?'search_element_1':'search_element_2'" ng-repeat="document in documents">
                                        <h4 class="search-item-heading">{{document.documentName}}</h4>
                                        <p><span ng-repeat="detail in document.additionalDetails"><span class="head-content">{{detail.fieldName}}:</span><span class="span-content">{{detail.fieldValue}}</span></span></p>
                                        <button class="btn btn-sm btn-success">Request Document</button>
                                    </div>
                                </div>
                           	                           	
                         
                            </div>
                        <!-- /.panel-body -->
                    </div>
</div>
</div>


</div>