 <div class="container" ng-controller="TicketController as ctrl">
     <div class="site_wrapper">
       <div class="col-md-10 col-md-offset-1">
         <div class="form-wrapper">
           
           <div class="row">
             <div class="col-md-6 col-md-offset-3" id="form_heading">
               <h2> Create Ticket </h2>
             </div>
           </div>

           <div class="row">
             <div class="col-md-10 col-md-offset-1" id="form_page">
               <div>
                 <form class="ticket_form" name="ticketForm" ng-submit="ctrl.submit()">
                   
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">First Name </label>
                        <input type="text" name="firstName" class="form-control" ng-model="ctrl.ticket.firstName" required>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Last Name </label>
                        <input type="text" name="lastName" class="form-control" ng-model="ctrl.ticket.lastName">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Email </label>
                        <input type="text" name="email" class="form-control" ng-model="ctrl.ticket.email" required> 
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Location</label>
                        <locations ng-model="ctrl.ticket.location" name="location" required></locations>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Designation</label>
                        <designations ng-model="ctrl.ticket.designation" name="designation" required></designations>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Ticket Priority </label>
                        
                         <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="2" ng-model="ctrl.ticket.ticketPriority" required>High
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="1" ng-model="ctrl.ticket.ticketPriority" required>Medium
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticketPriority" value="0" ng-model="ctrl.ticket.ticketPriority" required>Low
                        </label>
                         </div>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                        <label for="email">Notes For Ticket </label>
                        <textarea class="form-control" name="ticketNotes" ng-model="ctrl.ticket.ticketNotes"></textarea>
                      </div>
                     </div>
                   </div>
                   
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                         <label for="email">Mark Direct to </label>
                        <markedusers ng-model="ctrl.ticket.markDirect" name="markDirect"></markedusers>
                      </div>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Ticket Type </label>
                        
                         <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" name="ticket_type" ng-model="ctrl.ticket.ticketType" value="transactionalType" required>Transactional
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticket_type" ng-model="ctrl.ticket.ticketType" value="litigationalType" required>Litigational
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ticket_type" ng-model="ctrl.ticket.ticketType" value="othersType" required>Others
                        </label>
                         </div>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Reply By Date</label>
                        <p class="input-group">
                          <input type="text" class="form-control" name="replyByDate" uib-datepicker-popup="dd/MM/yyyy"  datepicker-options="dateOptions" ng-model="ctrl.ticket.replyByDate" is-open="replyByDate_popup.opened"  close-text="Close"  />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup1_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                      </div>
                     </div>

                   </div>
                   <!-- Start litigation-->
                   <div id="litigationalType" class="type_module" ng-show="ctrl.ticket.ticketType == 'litigationalType'" >

                     <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                         <label for="email">Notice Received</label>
                        
                         <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" value="Y" name="noticeReceived" ng-model="ctrl.ticket.litigationNoticeReceived">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="N" name="noticeReceived" ng-model="ctrl.ticket.litigationNoticeReceived">No
                        </label>
                        
                         </div>
                      </div>
                     </div>

                     

                   </div> 

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notice from</label>
                        <input type="text" class="form-control"name="noticeFrom" ng-model="ctrl.ticket.litigationNoticeFrom">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notice against</label>
                        <input type="text" class="form-control" name="noticeagainst" ng-model="ctrl.ticket.litigationNoticeAgainst">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Opposing Lawyer</label>
                        <input type="text" class="form-control" name="oppLawyer" ng-model="ctrl.ticket.litigationOpposingLawyer">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Contact Address</label>
                        <input type="text" class="form-control" name="contactAddress" ng-model="ctrl.ticket.litigationContactAddress">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Contact email</label>
                        <input type="email" class="form-control" name="contactemail" ng-model="ctrl.ticket.litigationContactEmail">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Court / Forum</label>
                        <select class="form-control" ng-model="ctrl.ticket.litigationCourt" name="courtForum" >
                          <option value="A">Option A</option>
                          <option value="B">Option B</option>
                          <option value="C">Option C</option>
                        </select>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel appointed </label>
                        <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" value="Y" name="counselAppointed" ng-model="ctrl.ticket.litigationCouselAppointed">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="N" name="counselAppointed" ng-model="ctrl.ticket.litigationCouselAppointed">No
                        </label>
                        
                         </div>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel Address </label>
                        <textarea class="form-control name="counselAddress"" ng-model="ctrl.ticket.litigationCouselAddress"></textarea>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel phone number</label>
                        <input type="text" class="form-control" name="counselPhone" ng-model="ctrl.ticket.litigationCouselPhone">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Counsel email</label>
                        <input type="email" class="form-control" name="counselEmail" ng-model="ctrl.ticket.litigationCouselEmail">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Location of court</label>
                        <input type="text" class="form-control" name="courtLocation" ng-model="ctrl.ticket.litigationCourtLocation">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Amount under litigation</label>
                        <input type="text" class="form-control" name="amount" ng-model="ctrl.ticket.litigationAmount">
                      </div>
                     </div>

                   </div>

                   </div>
                   <!-- end litigation-->


                   <!-- Start Transactional-->

                   <div id="transactionalType" class="type_module" ng-show="ctrl.ticket.ticketType == 'transactionalType'">

                    <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Transaction type</label>
                        <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" ng-model="ctrl.ticket.transactionType" name="transactionType" value="opinion">Opinion
                        </label>
                        <label class="radio-inline">
                          <input type="radio"  ng-model="ctrl.ticket.transactionType" name="transactionType" value="renegotiation">Renegotiation
                        </label>
                        <label class="radio-inline">
                          <input type="radio"  ng-model="ctrl.ticket.transactionType" name="transactionType" value="template">Template
                        </label>
                        
                         </div>
                      </div>
                     </div>

                     

                   </div>

                   <div class="row">
                    

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Final Date </label>
                        <p class="input-group">
                          <input type="text" class="form-control" name="transactionFinalDate" uib-datepicker-popup="dd/MM/yyyy"  datepicker-options="dateOptions" ng-model="ctrl.ticket.transactionFinalDate" is-open="transactionFinalDate_popup.opened"  close-text="Close"  />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup2_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">New / Existing</label>
                        <div style="margin-top:5px;">

                           <label class="radio-inline">
                          <input type="radio" name="newExist" ng-model="ctrl.ticket.transactionNewOrExisting" value="new">New
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="newExist"  ng-model="ctrl.ticket.transactionNewOrExisting" value="existing">Existing
                        </label>
                        
                         </div>
                      </div>
                     </div>


                   </div>

                   <div class="row">

                   <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Additional details</label>
                        <select class="form-control" id="document_fill" name="documentType" ng-model="ctrl.ticket.transactionDocumentType">
                        <option selected="selected" value="medico_legal">Medico Legal</option>
                        <option value="non_medico">Non Medico</option>
                        <option value="lease_agreements">Lease Aggreements</option>
                        <option value="property_agreements">Property Agreements</option>
                        <option value="share_purchase">Share Purchase</option>
                        <option value="JV">JV</option>
                        <option value="contracts">Contracts</option>
                        <option value="loans">Loans</option>
                        <option value="taxation">Taxation</option>
                        </select>
                      </div>
                     </div>

                     
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notes</label>
                        <textarea class="form-control" name="transactionNotes" ng-model="ctrl.ticket.transactionNotes"></textarea>
                      </div>
                     </div>

                   </div>

                   </div>

                   <!--end Transactional-->

                   <!-- Start others-->

                   <div id="othersType" class="type_module" ng-show="ctrl.ticket.ticketType == 'othersType'">
                     <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Notes</label>
                        <input type="text" name="otherNotes" class="form-control" ng-model="ctrl.ticket.othersNotes">
                      </div>
                     </div>

                     

                   </div>
                   </div>

                   <!--End Others-->
                   <div class="row">
                      <div class="col-md-12">
                        <ul>
                          <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                            
                            <uib-progressbar class="progress-striped active" value="f.progress" type="success" ng-hide="f.progress == 100">{{f.progress}}+%</uib-progressbar>
                          </li>
                          <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                          </li> 
                        </ul>
                      </div>
                   </div>

                   <div class="jumbotron" style="border:1px dashed #ddd;text-align:center;"
                      ngf-drop="uploadFiles($files, $invalidFiles)" 
                      ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                      accept="image/*,application/pdf" 
                      ngf-pattern="'image/*,application/pdf'"

                   >
                     <p>Drop files here</p>
                     <p>OR</p>
                     <div class="row">
                       <div class="col-md-4 col-md-offset-4">
                         <input type="file" >
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <input type="submit" class="btn btn-primary" ng-disabled="ticketForm.$invalid" value="Submit">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <input type="reset" class="btn btn-default pull-right"  value="Reset">
                      </div>
                     </div>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>


   <!----- Bootstrap Modal-->

   <div id="documentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Document Template</h4>
      </div>
      <div class="modal-body">
        <form class="form">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Date of Notice/Summon/Letter</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Date of Receipt of Notice/Summon</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Notice received from -Advocate</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Name of the Advocate/Forum/Court</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Address of the Advocate</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Name of the Complainant</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Case No.</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Number of defendant</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

           <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Name of the defendants</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Name of the patient</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Date of Admission</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Date of discharge</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Cost of treatment </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Doctors  involved in the case</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Legal case Claim Amount </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Due date for response, if any</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
            <div class="col-md-3 pull-right">
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </div>

        </form>
      </div>
      
    </div>

  </div>
</div>