body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #337ab7;
	text-decoration: none;
}

.form-wrapper{
	min-height: 100px;
	background: #fafafa;
	border:1px solid #ddd;
	padding: 20px 20px;
}
#form_heading{
	text-align: center;
	margin-bottom: 15px;
}

#form_page{
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	min-height: 200px;
}
.ticket_form{
	padding: 50px;
}
input[type="radio"]{
	margin :0px;
}
input[type="checkbox"]{
	margin :0px;
}
.jumbotron{
	padding: 30px;
}
#page-wrapper{
	padding: 20px;
}
i{
	margin-left: 7px;
	margin-right: 7px;
}
.card{
	position: relative;
	display: block;
	margin-bottom: .75rem;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
}
.card-block{
	padding: 1.25rem;
}

.user-card{
	position: relative;
	display: block;
	margin-bottom: .75rem;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	padding: 1rem;
}

.top-padding{
	padding-top: 180px;
}

#login-form{
	padding: 50px;
	border: 1px solid #ddd;
	border-radius:5px;
}

.site_wrapper{
	padding-top: 50px;
}

    .animate-enter { 
		-moz-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        display: block;
        position: relative;
    } 
    @-webkit-keyframes enter {
        from {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        75% {
            left: 15px;
        }
        to {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }
	@-moz-keyframes enter {
        from {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        75% {
            left: 15px;
        }
        to {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }
    @keyframes enter {
        from {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        75% {
            left: 15px;
        }
        to {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }
     
    .animate-leave { 
		-moz-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        display: block;
        position: relative;
    } 
    @-webkit-keyframes leave {
        to {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        25% {
            left: 15px;
        }
        from {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }
	@-moz-keyframes leave {
        to {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        25% {
            left: 15px;
        }
        from {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }
    @keyframes leave {
        to {
            opacity: 0;
            height: 0px;
            left: -70px;
        }
        25% {
            left: 15px;
        }
        from {
            opacity: 1;
            height: 30px;
            left: 0px;
        }
    }

.ticket{
    border: 1px solid #ddd;
    padding: 1rem;
}
.ticketLink {
    color : #333;
    cursor: pointer;
}
.ticketLink:hover{
    color : #333;
    text-decoration: none;   
}
.top-bar{
    margin-bottom:20px; 
}
.top-bar-wrapper{
    background: #fafafa;
    border: 1px solid #eee;
    padding: 8px;
}

.templateFieldWrapper{
    background: #fafafa;
    border :1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    position: relative;
}
.remove-templateField{
    padding:2px 7px;
    font-size: 10px;
    top: 0.5rem;
    right:1rem; 
    position: absolute;
}
.data-holder{
    height:50rem;
}
.pagination-holder{
    position: absolute;
    bottom: 5rem;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
   
    word-break: break-all ;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.ticket-detail-panel
{
    overflow-y: scroll;
    height: 300px;
}

.chat-panel
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
