<div ng-controller="LocationMasterController as ctrl">


<div class="col-md-8" >
	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Locations List

                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body data-holder">
                           <div class="row">
                           	
							   <div class="col-md-12">
								   <table class="table table-striped">
									   <tr>
										   <th>No.</th>
										   <th>Location Name</th>
										   <th>Division</th>
										   <th>Entity</th>
										   <th>Edit</th>
										   <th>Delete</th>
									   </tr>
									   <tr ng-repeat ="location in ctrl.locations | offset: (currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
										   <td>{{ctrl.locations.indexOf(location) + 1}}</td>
										   <td>{{location.name}}</td>
										   <td>{{location.division}}</td>
										   <td>{{location.entity}}</td>
										   <td><button class="btn btn-sm btn-primary" ng-click="ctrl.edit(location._id)">Edit</button></td>
										   <td><button class="btn btn-sm btn-danger" ng-click="ctrl.remove(location._id)">Delete</button></td>
									   </tr>
								   </table>
							   </div>
                           	                           	
                         
                           
                        </div>
						<div class="row">
							<div class="col-md-8 pagination-holder">
								<ul uib-pagination  total-items="ctrl.locations.length" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
							</div>
                    	</div>
                        <!-- /.panel-body -->
                    </div>
</div>
</div>
<!---Side Panel-->
           		  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Add Location
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                    		<form class="form" name="locationForm" ng-submit="ctrl.submit()">
                          <input type="hidden" ng-model="ctrl.location._id">
                    			<div class="form-group">
                    				<label>Location Name</label>
                    				<input type="text" name="name" class="form-control" ng-model="ctrl.location.name" required>
                    			</div>

                    			<div class="form-group">
                    				<label>Division</label>
                    				<input type="text" name="division" class="form-control" ng-model="ctrl.location.division" required>
                    			</div>
                    			<hr>
                    			<input class="btn btn-block btn-primary" type="submit" ng-disabled="locationForm.$invalid" value="{{!ctrl.location._id ? 'Add Location' : 'Update Location'}}"/>

                    		</form>	        
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>

</div>