<div class="col-md-12">
	<h2>Location Master</h2>
	<hr>
</div>

<div class="col-md-8">
	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Locations List

                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <div class="row">
                           	<div class="col-sm-4">
                           		<div class="card card-block">
              								  <h4 class="card-title">Legal Division</h4>
              								  <p class="card-text">Chennai</p>
              								  <button class="btn btn-sm btn-default"><i class="fa fa-pencil"></i></button>
              								  <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
              								</div>
                           	</div>
                            <div class="col-sm-4">
                              <div class="card card-block">
                                <h4 class="card-title">Lawyer Section</h4>
                                <p class="card-text">Mumbai</p>
                                <button class="btn btn-sm btn-default"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
                              </div>
                            </div>
                           	
                           	
                            
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>
</div>
<!---Side Panel-->
           		  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Add Location
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                    		<form class="form">
                    			<div class="form-group">
                    				<label>Location Name</label>
                    				<input type="text" name="designation" class="form-control">
                    			</div>

                    			<div class="form-group">
                    				<label>Division</label>
                    				<input type="text" name="short-name" class="form-control">
                    			</div>
                    			<hr>
                    			<button class="btn btn-block btn-primary" type="submit">Submit</button>

                    		</form>	        
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>

