<div ng-controller="AdminTicketsController as ctrl">
     <div class="col-md-8">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Ticket Detail    
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card card-block">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4>{{firstName +' '+lastName}}</h4>
                                        <p>{{designation.designation }} , {{location.name }} {{location.division}} 
                                            <br>
                                            Email : {{ email}}
                                            <br>
                                            Type : <span ng-if="ticketType=='transactionalType'">Transactional</span>
                                                      <span ng-if="ticketType=='litigationalType'">Litigational</span>
                                                      <span ng-if="ticketType=='othersType'">Other</span>
                                            
                                            
                                        </p>

                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div ng-if="ticketType=='transactionalType'">
                                            <h5>Transactional Details </h5>
                                            <p>
                                                New or Existing : {{transactionalDetails.newOrExisting}}
                                                <br>
                                                Type : {{transactionalDetails.type}}
                                                <br>
                                                Document Type : {{(transactionalDetails.documentType)?transactionalDetails.documentType.legalType:'None'}}
                                                <br>
                                                Final Date : {{transactionalDetails.finalDate }}
                                                <br>
                                                Notes : {{transactionalDetails.notes}}

                                            </p>
                                        </div>

                                        <div ng-if="ticketType=='litigationalType'">
                                            <h5>Litigational Details </h5>
                                            <p>
                                               Notice Received (Y/N ) : {{litigationalDetails.noticedReceived}}
                                               <br>
                                               Notice From : {{litigationalDetails.noticeFrom}}
                                               <br>
                                               Notice Against : {{litigationalDetails.noticeAgainst}}
                                               <br>
                                               Opposing Lawyer : {{litigationalDetails.opposingLawyer}}
                                               <br>
                                               Counsel Appointed (Y/N) : {{litigationalDetails.counselAppointed}}
                                               <br>
                                               Amount : INR {{litigationalDetails.amount}}
                                            </p>
                                        </div>
                                        <div ng-if="ticketType=='othersType'">
                                            <h5>Others Details </h5>
                                            <p>
                                                Notes : {{othersDetails.notes}}
                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                        <h5>Attachments</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Document</th>
                                                <th>Approve</th>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length!=0" ng-repeat="document in attachedDocuments">
                                                <td>{{attachedDocuments.indexOf(document) + 1}}</td>
                                                <td><a href="{{document}}">{{document.split('/')[2]}}</a></td>
                                                <td><button class="btn btn-sm btn-primary">Approve</button></td>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length==0">
                                                <td colspan="3" style="text-align:center">No Documents Attached</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Tasks</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Task Name</th>
                                                <th>Handler Email</th>
                                                <th>Details</th>
                                            </tr>
                                            <tr ng-if="task_list.length!=0" ng-repeat="tsk in task_list">
                                                <td>{{task_list.indexOf(tsk) + 1}}</td>
                                                <td>{{tsk.taskName}}</td>
                                                <td>{{tsk.taskHandlerEmail}}</td>
                                                <td><button class="btn btn-sm btn-primary" ui-sref="task-detail({id : tsk._id})">Detail</button></td>
                                            </tr>
                                            <tr ng-if="task_list.length==0">
                                                <td colspan="4" style="text-align:center">No Task Created</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div> 
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Messages
                    <div class="btn-group pull-right">
                        
                    </div>
                </div>
            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body chat-panel">
                    <ul class="chat">
                       
                        <li ng-class="$root.user.sessionId ==msg.senderId._id?'right clearfix' : 'left clearfix'" ng-repeat="msg in messages">
                            <span ng-class="$root.user.sessionId ==msg.senderId._id?'chat-img pull-right':'chat-img pull-left'" >
                                <img ng-if="$root.user.sessionId ==msg.senderId._id" src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                <img ng-if="$root.user.sessionId !=msg.senderId._id" src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <span ng-if="$root.user.sessionId ==msg.senderId._id">

                                    </span>
                                    <span ng-if"$root.user.sessionId !=msg.senderId._id">
                                        
                                    </span>
                                    <small ng-class="$root.user.sessionId ==msg.senderId._id?'text-muted' : 'pull-right text-muted'" ><span class="glyphicon glyphicon-time"></span>{{msg.createdAt | amTimeAgo}}</small>
                                    <strong ng-class="$root.user.sessionId ==msg.senderId._id? 'pull-right primary-font':'pull-left primary-font'" ng-bind="msg.senderId.firstName"></strong>
                                </div>
                                <p ng-bind="msg.message">
                                   
                                </p>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="ctrl.message" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="ctrl.sendMessage(messageThread)">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>