<div ng-controller="DesignationMasterController as ctrl2">
<div class="col-md-12">
	<h2>Designation Master</h2>
	<hr>
</div>

<div class="col-md-8" >
	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Designation List

                            
                        </div>
                        <!-- /.panel-heading 1 -->
                        <div class="panel-body data-holder">
                           <div class="row">
							    <div class="col-md-12">
								   <table class="table table-striped">
									   <tr>
										   <th>No.</th>
										   <th>Designation</th>
										   <th>Short Name</th>
										
										   <th>Edit</th>
										   <th>Delete</th>
									   </tr>
									   <tr ng-repeat ="designation in ctrl2.designations | offset: (currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
										   <td>{{ctrl2.designations.indexOf(designation) + 1}}</td>
										   <td>{{designation.designation}}</td>
										   <td>{{designation.short_name}}</td>
										
										   <td><button class="btn btn-sm btn-primary" ng-click="ctrl2.edit(designation._id)">Edit</button></td>
										   <td><button class="btn btn-sm btn-danger" ng-click="ctrl2.remove(designation._id)">Delete</button></td>
									   </tr>
								   </table>
							   </div>
                        	</div>

							<div class="row">
								<div class="col-md-8 pagination-holder">
									<ul uib-pagination  total-items="ctrl2.designations.length" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
								</div>
							</div>
                        <!-- /.panel-body -->
                    </div>
</div>
</div>
<!---Side Panel-->
           		  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Add Designation
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                    		<form class="form" name="designationForm" ng-submit="ctrl2.submit()">
                          <input type="hidden" ng-model="ctrl2.designation._id">
                    			<div class="form-group">
                    				<label>Designation</label>
                    				<input type="text" name="designation" class="form-control" ng-model="ctrl2.designation.designation" required>
                    			</div>

                    			<div class="form-group">
                    				<label>Short Name</label>
                    				<input type="text" name="short-name" class="form-control" ng-model="ctrl2.designation.short_name" required>
                    			</div>
                    			<hr>
                    			<input class="btn btn-block btn-primary" type="submit" ng-disabled="designationForm.$invalid" value="{{!ctrl2.designation._id ? 'Add Designation' : 'Update Designation'}}"/>

                    		</form>	        
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>

</div>