<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
   <div class="container">
     <div class="site_wrapper">
       <div class="col-md-10 col-md-offset-1">
         <div class="form-wrapper">
           
           <div class="row">
             <div class="col-md-6 col-md-offset-3" id="form_heading">
               <h2> Create User </h2>
             </div>
           </div>

           <div class="row">
             <div class="col-md-10 col-md-offset-1" id="form_page">
               <div>
                 <form class="ticket_form">

                  <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">First Name</label>
                        <input type="text" class="form-control">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Last Name</label>
                        <input type="text" class="form-control">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Password</label>
                        <input type="password" class="form-control">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" class="form-control">
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Designation</label>
                        <select class="form-control">
                          <option>Designation A</option>
                          <option>Designation B</option>
                          <option>Designation C</option>
                        </select>
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">Location</label>
                        <select class="form-control">
                          <option>Location A</option>
                          <option>Location B</option>
                          <option>Location C</option>
                        </select>
                      </div>
                     </div>

                   </div>

                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <label for="email">User Type</label>
                        <select class="form-control">
                          <option>Admin</option>
                          <option>Legal Team Member</option>
                          <option>Executive</option>
                          <option>Senior Counsel</option>
                        </select>
                      </div>
                     </div>

                     

                   </div>


                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Create User">
                      </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group">
                        <input type="reset" class="btn btn-default pull-right" value="Reset">
                      </div>
                     </div>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>


       <script src="/js/main.js"></script>
  </body>
</html>
