<div class="container" ng-controller="TaskController as ctrl">
    <div class="task_page_wrap">
        <div class="col-md-8">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Task Detail    
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card card-block">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 ng-bind="ctrl.task.taskName"></h4>
                                        <p>
                                            ID : {{ctrl.task._id}}
                                            <br>
                                            Task Master : {{ctrl.task.taskMaster.firstName + ctrl.task.taskMaster.lastName}} 
                                            <br>
                                            Task Master Email : {{ctrl.task.taskMaster.email}} 
                                            <br>
                                            Type : {{ctrl.task.taskType}}
                                            <br>
                                            Completion Date : {{ctrl.task.taskCompletionDate}}
                                            <br>
                                            Privacy : {{ctrl.task.taskPrivacy}}
                                            <br>
                                            Task Status : {{ctrl.task.status}}
                                            
                                            
                                        </p>

                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <h5>Task Handler Details </h5>
                                            <p>
                                                Name: {{ctrl.task.taskHandlerName}}
                                                <br>
                                                Email : {{ctrl.task.taskHandlerEmail}}
                                                <br>
                                                Location : {{ctrl.task.taskHandlerLocation.division + ','+  ctrl.task.taskHandlerLocation.name }} 
                                                <br>
                                                Contact No : {{ctrl.task.taskHandlerContactNo}}
                                                <br>
                                                

                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Attachments</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Document</th>
                                                <th>Approve</th>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length!=0" ng-repeat="document in attachedDocuments">
                                                <td>{{attachedDocuments.indexOf(document) + 1}}</td>
                                                <td><a href="{{document}}">{{document.split('/')[2]}}</a></td>
                                                <td><button class="btn btn-sm btn-primary">Approve</button></td>
                                            </tr>
                                            <tr ng-if="attachedDocuments.length==0">
                                                <td colspan="3" style="text-align:center">No Documents Attached</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div> 
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Notes
                    <div class="btn-group pull-right">
                        
                    </div>
                </div>
            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body chat-panel">
                    <ul class="chat">
                       
                        <li ng-repeat="nts in notes">
                           <div class="row">
                               <div class="col-xs-5"><span style="font-weight:600" ng-bind="nts.senderEmail"><span></div>
                           <div class="col-xs-3 col-xs-offset-4"><span>{{nts.createdAt | amTimeAgo}}</span></div>
                            </div> 
                           <p ng-bind="nts.note"></p>
                        </li>
                        
                        
                    </ul>
                    
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="ctrl.note" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button ng-disabled="($root.user!=null)?(($root.user.userType=='legalteam_member')?false:true):false" class="btn btn-warning btn-sm" id="btn-chat" ng-click="ctrl.sendNotes(ctrl.task.notesThread , ctrl.task.taskHandlerEmail ,$root.user)">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </div>



    </div>


    <!-- Other Tasks-->

        <div class="col-md-4" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Other Tasks
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                            <a ng-repeat="tsk in ctrl.tasks" class="other_task_template">{{tsk.taskName}}</a>
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>


    </div>
</div>