<div class="container" ng-controller="TaskController as ctrl">
    <div class="task_page_wrap">
        <div class="col-md-8">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Task Detail    
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card card-block">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 ng-bind="ctrl.task.taskName"></h4>
                                        <p>
                                            ID : {{ctrl.task._id}}
                                            <br>
                                            Task Master : {{ctrl.task.taskMaster.firstName + ctrl.task.taskMaster.lastName}} 
                                            <br>
                                            Task Master Email : {{ctrl.task.taskMaster.email}} 
                                            <br>
                                            Type : {{ctrl.task.taskType}}
                                            <br>
                                            Completion Date : {{ctrl.task.taskCompletionDate}}
                                            <br>
                                            Privacy : {{ctrl.task.taskPrivacy}}
                                            <br>
                                            Task Status : {{ctrl.task.status}}
                                            
                                            
                                        </p>

                                    </div>


                                    <div class="col-md-4">

                                        <button class="btn btn-sm btn-block" ngf-select="upload($file)"  type="file">Upload File</button>
                                        <button class="btn btn-block btn-sm btn-danger" ng-disabled="ctrl.task.status=='closed'" ng-show="($root.user!=null)?(($root.user.sessionId==ctrl.task.taskMaster)?false:true):false" ng-click="ctrl.closeTask()">{{(ctrl.task.status=='closed')?'Task Closed':'Close Task'}}</button>
                                    
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <h5>Task Handler Details </h5>
                                            <p>
                                                Name: {{ctrl.task.taskHandlerName}}
                                                <br>
                                                Email : {{ctrl.task.taskHandlerEmail}}
                                                <br>
                                                Location : {{ctrl.task.taskHandlerLocation.division + ','+  ctrl.task.taskHandlerLocation.name }} 
                                                <br>
                                                Contact No : {{ctrl.task.taskHandlerContactNo}}
                                                <br>
                                                

                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Attachments</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-striped ">
                                            <tr>
                                                <th>No.</th>
                                                <th>Document</th>
                                                <th>Approve</th>
                                            </tr>
                                            
                                            <tr ng-if="ctrl.task.attachedDocuments.length!=0" ng-repeat="document in ctrl.task.attachedDocuments">
                                                <td>{{ctrl.task.attachedDocuments.indexOf(document) + 1}}</td>
                                                <td><a href="{{document.documentUrl}}" target="_blank">{{document.documentName}}</a></td>
                                                <td><button class="btn btn-sm btn-primary" ng-click="ctrl.open('body' , document._id)" ng-disabled="document.approved">{{document.approved ? 'Approved' : 'Approve'}}</button></td>
                                            </tr>
                                            <tr ng-if="ctrl.task.attachedDocuments.length==0">
                                                <td colspan="3" style="text-align:center">No Documents Attached</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div> 
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Notes
                    <div class="btn-group pull-right">
                        
                    </div>
                </div>
            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body chat-panel">
                    <ul class="chat">
                       
                        <li ng-repeat="nts in notes">
                           <div class="row">
                               <div class="col-xs-5"><span style="font-weight:600" ng-bind="nts.senderEmail"><span></div>
                           <div class="col-xs-3 col-xs-offset-4"><span>{{nts.createdAt | amTimeAgo}}</span></div>
                            </div> 
                           <p ng-bind="nts.note"></p>
                        </li>
                        
                        
                    </ul>
                    
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="ctrl.note" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button ng-disabled="($root.user!=null)?(($root.user.userType=='legalteam_member')?false:true):false" class="btn btn-warning btn-sm" id="btn-chat" ng-click="ctrl.sendNotes(ctrl.task.notesThread , ctrl.task.taskHandlerEmail ,$root.user)">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </div>



    </div>


    <!-- Other Tasks-->

        <div class="col-md-4" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus"></i> Other Tasks
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    		
                            <a ng-if="tsk._id!=ctrl.task._id && ctrl.task.taskPrivacy=='Open'" ng-repeat="tsk in ctrl.tasks" class="other_task_template" ui-sref="task-detail({id : tsk._id})">{{tsk.taskName}}</a>
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>


    </div>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Document Template</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <form class="form" name="approvalForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Document Type</label>
                    <documents ng-model="ctrl3.document.documentType" ng-change="render(ctrl3.document.documentType)"></documents>
                    <!--<approved ng-model="ctrl3.document" ></approved>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" ng-repeat="field in ctrl3.document.documentType.fields">
                  <div class="form-group">
                    <label >{{field.fieldName}}</label>
                    <input  type="field.fieldType" class="form-control" ng-model="ctrl3.document.docAdditionalDetail[$index].fieldValue" required>
                  </div>
                </div>
              </div>

              <hr/>
              <h5>Document Approval</h5>
                  <div ng-show="approvedDoc.length == 0"> No Approval </div>
              <div class="row">
                  

                  <div class="col-md-6" ng-repeat="designation in approvedDoc">
                      <label>User {{$index+1}} </label>
                      <desuser des="designation.designation" ng-model="ctrl3.document.approvedBy[$index]" required></desuser>
                  </div>
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-disabled="approvalForm.$invalid" ng-click="ctrl3.submit(ctrl3.document)">Submit</button>
            
              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="ctrl3.cancel()">Cancel</button>
              </div>
            </div>
        </div>


    </script>
</div>