<div ng-controller="UserMasterController as ctrl">


<div class="col-md-8" >
	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> {{currentUser}}

                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <div class="row">
                            <!-- Table satarts -->
                            <div class="col-md-12">
                              <table class="table table-striped">
                                <tr>
                                  <th>No.</th>
                                  <th>Name</th>
                                  <th>Mark Direct</th>
                                  <th>Change Password</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                                </tr>
                                <tr ng-repeat ="user in ctrl.users | offset: (currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
                                  <td>{{ctrl.users.indexOf(user) + 1}}</td>
                                  <td ng-bind="user.firstName"></td>
                                  <td><button ng-class="(user.userType=='legalteam_member' || user.userType=='senior_counsel')?((user.markDirect)?'btn btn-sm btn-warning' :'btn btn-sm btn-primary') :'btn btn-sm btn-primary disabled' " ng-click="(user.userType=='legalteam_member' || user.userType=='senior_counsel')?ctrl.markDirect(user._id ,user.markDirect):'' ">{{(user.markDirect)?'Marked Direct':'Mark Direct'}}</button></td>
                                  <td><button class="btn btn-default btn-sm" ng-click="ctrl.changePasswordModal('body',user._id)">Change Password</button></td>
                                  <td><button class="btn btn-sm btn-default" ng-click="ctrl.edit(user._id)"><i class="fa fa-pencil"></i></button></td>
                                  <td><button class="btn btn-sm btn-default" ng-click="ctrl.remove(user._id)"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                              </table>
                            </div>
                           </div>
                           <div class="row">
                            <div class="col-md-8 ">
                              <ul uib-pagination  total-items="ctrl.users.length" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
                            </div>
                          </div>



                            <!-- End of Table -->
                           
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>

<!---Side Panel-->
           		  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                              <div class="col-md-6">
                                
                                  <i class="fa fa-plus"></i> Add User
                                
                              </div>
                              <div class="col-md-2 col-md-offset-3">
                                <button class="btn btn-default btn-sm" ng-click="resetForm()"><i class="fa fa-trash"></i></button>
                              </div>
                            </div>
                        </div>
                        <!-- /.panel-heading1 -->
                        <div class="panel-body">
                          
                    		<form class="form" name="userForm" ng-submit="ctrl.submit()">
                          <input type="hidden" ng-model="ctrl.user._id">

                    			<div class="form-group">
                    				<label>First name</label>
                    				<input type="text" name="fname" class="form-control" ng-model="ctrl.user.firstName" required />
                    			</div>

                          <div class="form-group">
                            <label>Last name</label>
                            <input type="text" name="lname" class="form-control" ng-model="ctrl.user.lastName"/>
                          </div>

                          <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="ctrl.user.email" required>
                          </div>

                          <div class="form-group" ng-show="!ctrl.user._id">
                            <label>Password</label>
                            <input type="text" name="password" class="form-control" ng-model="ctrl.user.password" required>
                          </div>

                    			<div class="form-group">
                    				<label>Location</label>
                    				<locations ng-model="ctrl.user.location"></locations>
                    			</div>

                          <div class="form-group">
                            <label>Designation</label>
                            <designations ng-model="ctrl.user.designation"></designations>
                          </div>

                          <div class="form-group">
                            <label>User Type</label>
                            <select class="form-control" ng-model="ctrl.user.userType">
                              <option value="admin">Admin</option>
                              <option value="legalteam_member">Legal Team Member</option>
                              <option value="executive">Executive</option>
                              <option value="senior_counsel">Senior Counsel</option>
                              <option value="local_manager">Local Manager</option>
                            </select>
                          </div>



                    			<hr>
                    			<input class="btn btn-block btn-primary" type="submit" ng-disabled="userForm.$invalid" value="{{!ctrl.user._id ? 'Add User' : 'Update User'}}"/>

                    		</form>	        
                    	
                        </div>
                        <!-- /.panel-body -->
                    </div>

           </div>




     <script type="text/ng-template" id="changePasswordTemplate.html">

        <div class="modal-header">
            <h3 class="modal-title" id="CM-modal-title">Change Password</h3>
        </div>
        <div class="modal-body" id="CM-modal-body">
          <form class="form" name="changePassForm">
              <div class="row">
                <div class="col-md-6" >
                  <div class="form-group">
                    <label >New Password</label>
                    <input class="form-control" type="password" name="newpass" ng-model="changeCtrl.newPass" password-verify="{{changeCtrl.confirmPass}}" required/>
                  </div>
                </div>

                <!--
                <div class="help-block col-md-6" ng-messages="changePassForm.newpass.$error" ng-if="changePassForm.newpass.$dirty">
                  <p ng-message="required">This field is required</p>
       
                  <p ng-message="passwordVerify">No match!</p>
                </div>
                -->
              </div>
              <div class="row">
                <div class="col-md-6" >
                  <div class="form-group">
                    <label >Confirm Password</label>
                    <input class="form-control" type="password" name="confimpass" ng-model="changeCtrl.confirmPass" password-verify="{{changeCtrl.newPass}}" required/>
                  </div>
                </div>
                <!--
                <div class="help-block col-md-6" ng-messages="changePassForm.confirmpass.$error" ng-if="changePassForm.confirmpass.$dirty">
                  <p ng-message="required">This field is required</p>
       
                  <p ng-message="passwordVerify">No match!</p>
                </div>
                -->
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" type="button" ng-click="ctrl2.submit()" ng-disabled="changePassForm.$invalid">Submit</button>

              </div>
              <div class="col-md-3 pull-right">
                <button class="btn btn-warning" type="button" ng-click="ctrl2.cancel()" >Cancel</button>
              </div>
            </div>
        </div>

</script>


</div>  